@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@400;700&family=Open+Sans&display=swap');

*{

    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.outerbox{
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to top left,#3ed8ff,#a8f5ff) ; */
    
    
}

.innerbox{
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 44%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background: linear-gradient(120deg,#3ed8ffe0,rgba(255, 255, 255, 0.664)); */
    /* background: linear-gradient(120deg,#de0f0f40,rgba(94, 42, 206, 0.429)); */
    backdrop-filter: blur(50%);
    border-radius: 8px ;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.627);
    border: 1px solid black;
    z-index: 2;
    /* border-image: linear-gradient(-45deg,black,white,black);
    border-image-slice: 1; */
    
}

.signup-header h1{
    font-size: 2.5rem;
    color: #212121;

}

.signup-header p{
    font-size: 0.85rem;
    color: #555;
}

.signup-body{
    margin: 20px 0;
}

.signup-body p{
    margin:10px 0 ;
}

.signup-body p label{
    display: block;
    font-size: 1.08rem;
    font-weight: bold;


}
.signup-body p input{
    width: 100%;
    padding: 9px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type="submit"]{
     background-color: #489fe1;
     margin-top: 10px;
     color: white;
     font-weight:bold;
     border: none;
     cursor: pointer;
}

.signup-body p input[type="submit"]:hover{
    background-color: #3585c2;
    color:rgba(245, 245, 245, 0.795);
}

.signup-footer{
    text-align: center;
}

.signup-footer p{
color: #555;
}

.signup-footer A{
    color:#3585c2;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position:absolute;
    background: linear-gradient(-20deg,rgba(115, 196, 224, 0.286),rgba(255, 255, 255, 0));
}

.c1{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top:-60px;
    left: 300px;

}

.c2{
    background: linear-gradient(120deg,rgba(0, 0, 0, 0.237),rgba(227, 219, 219, 0));
    bottom:110px;
    left: 890px;

}